<div class="parent">
  <h4 class="h4">Disclaimer</h4>
  <p class="sub-text">The information and recipes provided on the Pawsome application are for informational purposes only. Pawsome is not a certified pet nutrition expert, and the generated recipes are not intended to replace professional veterinary advice or guidance.</p>
  <h5 class="h5">Use at Your Own Risk:</h5>
  <ul class="ul">
    <li class="li">Users should consult with a qualified veterinarian before introducing any new foods or treats into their pets' diet, especially if their pet has known allergies, medical conditions, or dietary restrictions.</li>
    <li class="li">Pawsome assumes no responsibility for any adverse reactions or health issues that may arise from following the recipes provided on this application.</li>
    <li class="li">The nutritional needs of pets can vary widely, and what may be safe for one pet may not be suitable for another.</li>
  </ul>
  <h5 class="h5">No Guarantees:</h5>
  <ul class="ul">
    <li class="li">While Pawsome strives to provide accurate and up-to-date information, there is no guarantee that the recipes are complete or free from errors.</li>
    <li class="li">Pawsome does not warrant or make any representations regarding the use or the results of the use of the materials on this application in terms of their correctness, accuracy, reliability, or otherwise.</li>
  </ul>
  <h5 class="h5">Limitation of Liability:</h5>
  <ul class="ul">
    <li class="li">To the fullest extent permitted by law, Pawsome disclaims any and all liability for any direct, indirect, incidental, special, consequential, or exemplary damages arising out of or in connection with your use of the application and the recipes provided herein.</li>
  </ul>
  <p class="sub-text">By using this application, you acknowledge and agree to this disclaimer. If you do not agree with any part of this disclaimer, please refrain from using the Pawsome application.</p>
  <p class="sub-text">For any concerns or questions about your pet's diet and health, always seek the advice of a qualified veterinarian or pet nutrition expert.</p>
</div>
