<div class="hero-container">
  <div class="overlay"></div>
  <h2 class="h2">Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="input-div">
      <input [(ngModel)]="username" name="username" placeholder="Username" required #userNameField="ngModel" minlength="8" maxlength="18">
      <div class="error">
        <div *ngIf="userNameField.errors?.['minlength'] || userNameField.errors?.['maxlength']">Username must be between 8 - 18 characters long.</div>
      </div>
    </div>
    <div class="input-div">
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required #passwordField="ngModel" minlength="6">
      <div class="error">
        <div *ngIf="passwordField.errors?.['minlength']">Password must be greater than 8 characters long.</div>
      </div>
    </div>
    <button class="button" type="submit" [disabled]="loginForm.invalid">Login</button>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  </form>
</div>
